.ssh*
outputs*
unsloth_compiled_cache
from_google
_unsloth_sent
_unsloth_temp
llama.ccp
vcpkg
lora_model
fake_files
attempt[0-9]*
ToCards_*
rrjr
*.pyc
datasets/json
datasets/parquet
.ankivenv
note_maker_before_src_training
assigner
ignore
datasets/anki_exports